<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crestaSom.KTMPublicRoute"
    android:versionCode="1"
    android:versionName="1.1">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/busz"
        android:label="KTM Public Route"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="KTM Public Route" />
        <activity
            android:name=".RouteList"
            android:label="KTM Public Route" />
        <activity
            android:name=".MainActivity2"
            android:label="KTM Public Route" />
        <activity
            android:name=".Welcome"
            android:label="@string/title_activity_auto_complete">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_test" />
        <activity
            android:name=".Details"
            android:label="@string/title_activity_details"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar.MinWidth"></activity>

        <activity android:name=".NearestStopSelection"></activity>

        <activity
            android:name=".HelpActivity"
            android:label="@string/title_activity_help"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            >
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            >
        </activity>

    </application>

</manifest>